
@section scripts{
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
@{
    ViewBag.Title = "Jump";
}
@using MyLibrary.Model.Entities
@model MyLibrary.Model.PagingHelpers.PagingHelpers<Book>

<div class="jumbotron text-center" style="margin-bottom:50px">
    <h1>这是学生图书馆管理页面</h1>
</div>

<ul class="nav nav-pills">
    <li>
        <a href="/Book/DoBook/SelectBook">查询书籍</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            借阅书籍 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/Borrowing/DoBorrowing/BorrowingByName">通过书籍名称借阅</a>
            </li>
            <li>
                <a href="/Borrowing/DoBorrowing/BorrowingByID">通过书籍编号借阅</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/Borrowing/DoBorrowing/Return">归还书籍</a>
    </li>
</ul>

<form method="post" action="RedictToBook">
    <div class="input-group col-sm-offset-9" style="margin-top:0">
        <input type="text" class="form-control" name="name" placeholder="请输入查找书名" />
        <span class="input-group-btn">
            <button class="btn btn-info btn-search" style="margin-left:3px" id="search">查找</button>
        </span>
    </div>
</form>
<table class="table table-bordered" style="margin-top:50px;">
    <tr class="active">
        <th>
            #
        </th>
        <th>
            书名
        </th>
        <th>
            作者
        </th>
        <th>
            价格
        </th>
        <th>
            在馆数量
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.GetPagingData())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{
                    if (item.Quantity > 0)
                    {
                        <a href="/Borrowing/DoBorrowing/BorrowingByName">可以借阅</a>
                    }
                    else
                    {
                        <a class="disabled">存量不足</a>
                    }
                }
            </td>
        </tr>
    }
</table>

<p class="text-success text-center">
    总页面数为 @Model.PageCount，当前为第 @Model.PageIndex 页。
</p>
<form method="post" action="Jump">
    <div class="input-group col-sm-offset-9" style="margin-top:0">
        <input type="text" class="form-control" name="page" placeholder="请输入要跳转的页面" />
        <span class="input-group-btn">
            <button class="btn btn-primary" style="margin-left:3px" id="search">跳转</button>
        </span>
    </div>
</form>

<ul class="pager">
    @if (Model.HasPrev)
    {
        <li><a href="@Url.Action("StudentMain", "DoStudent",new {pageIndex = Model.PageIndex - 1, pageNow = Model.PageNow - 1})">Previous</a></li>
    }
    else
    {
        <li><em style="color:grey">Previous</em></li>
    }
    @if (Model.HasNext)
    {
        <li><a href="@Url.Action("StudentMain", "DoStudent", new { pageIndex = Model.PageIndex + 1, pageNow = Model.PageNow + 1})">Next</a></li>
    }
    else
    {
        <li><em style="color:gray">Next</em></li>
    }
</ul>

<a href="ReturnLogin">返回登录页面</a>