@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#AddBook").click(function () {
                window.location.href = "/Book/DoBook/AddBook";
            });
        });

        $(function () {
            $("#SelectBook").click(function () {
                window.location.href = "/Book/DoBook/SelectBook";
            });
        });

        $(function () {
            $("#Borrowing").click(function () {
                window.location.href = "/Borrowing/DoBorrowing/Borrowing";
            });
        });

        $(function () {
            $("#Return").click(function () {
                window.location.href = "/Borrowing/DoBorrowing/Return";
            });
        });

        $(function () {
            $("#ShowBorrowingInfo").click(function () {
                window.location.href = "/Borrowing/DoBorrowing/ShowBorrowingInfo";
            });
        });
    </script>
}

@model IEnumerable<MyLibrary.Model.Entities.Book>
@{
    ViewBag.Title = "StudentMain";
}

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>这是学生图书馆管理页面：</h1>
</div>
<button id="AddBook" class="btn btn-default">添加书籍</button>

<button id="SelectBook" class="btn btn-default">查询书籍</button>

<button id="Borrowing" class="btn btn-default">借阅书籍</button>

<button id="Return" class="btn btn-default">归还书籍</button>

<button id="ShowBorrowingInfo" class="btn btn-default">显示借阅信息</button>

<table class="table table-bordered" style="margin-top:50px;">
    <tr class="active">
        <th>
            #
        </th>
        <th>
            书名
        </th>
        <th>
            作者
        </th>
        <th>
            价格
        </th>
        <th>
            在馆数量
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @{
                    if (item.Quantity > 0)
                    {
                    <a href="/Borrowing/DoBorrowing/Borrowing" >可以借阅</a>
                    }
                    else
                    {
                    <a class="disabled">存量不足</a>
                        }
                    }
            </td>
        </tr>
    }
</table>

